body{
    margin: 0;
    background: rgb(255, 255, 255);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
}

#verticalButtons{
    display:flex;
    flex-direction:column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 7px;
    margin: 2px;
    cursor: pointer;
    background: rgb(207, 220, 234) ;
}

button:hover{
    background: rgb(24,94,144) ;
}

#networkCanvas{
    background: rgb(207, 220, 234);
}

#carCanvas{
    background: rgb(207, 220, 234);
}